*{
    padding: 0;
    margin: 0;
}
body{
    .main{
        display: flex;
        max-width: 700px;
        position: relative;
        margin: auto;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        align-items: center;
        padding-bottom: 50px;
        border-radius: 10px;
        .block-todoList{
            display: flex;
            h3{
                color: #192C55;
                font-size: 24px;
            }
        };
        .block-input{
            display: flex;
            max-width: 350px;
            background-color: #EAEDEE;
            height: 40px;
            margin-top: 10px;
            input{
                padding-left: 10px
            };
            .clear-input{
                opacity: 0;
                cursor: pointer;
            }
            .btn-add{
                all:unset;
                font-weight: 500;
                color: white;
                padding: 0 40px 0 40px;
                height: 40px;
                background-color: #FF643A;
                border-radius: 30px;
                cursor: pointer;
            };
            input::placeholder{
               color: #9D9FA0;
            };
        }
        h3{
            margin-top: 10px;
        }
        
        ol{   
            display: flex;
            justify-content: start;  
            flex-direction: column;
            width: 90%;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-inline-start: 40px;
            li{
                font-size: 21px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        .block-remove-complete{
               display: flex;
               width: 80%;
               height: 150px;
               justify-content: center;
            .btn-remove{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                background-color: rgb(7, 7, 7);
                color: white;
                font-weight: 400;
                border-radius: 10px;
                margin-bottom: 10px;
                width: 100px;
                margin-left: 5px;
                cursor: pointer;
            }
            .btn-complete{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                background-color: rgb(53, 134, 28);
                color: white;
                font-weight: 400;
                border-radius: 10px;
                margin-bottom: 10px;
                width: 100px;
                cursor: pointer;
            }
        }       
        .block-li{
            display: flex;
            justify-content: space-between;
            img{
                cursor: pointer;
            }
        }
    }
}