*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    .main{
        display: flex;
        max-width: 700px;
        margin: auto;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        align-items: center;
        padding-bottom: 50px;
        border-radius: 10px;
        .block-todoList{
            display: flex;
            h3{
                color: #192C55;
                font-size: 24px;
            }
        };
        .block-input-and-button{
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            margin-top: 10px;
            .block-input{
                display: flex;
                width: 90%;
                align-items: center;
                input{
                    all: unset;
                    width: 100%;
                    padding-left: 10px;
                    height: 40px;
                };
                .clear-input{
                    opacity: 0;
                    cursor: pointer;
                    margin-right: 10px;
                }
                input::placeholder{
                   color: #9D9FA0;
                };
            }
            .btn-add{
                all:unset;
                height: 40px;
                color: white;
                padding: 0 20px 0 20px;
                background-color: #0d9c2c;
                cursor: pointer;
            };
        }
        h3{
            margin-top: 10px;
        }
        .clear-all-block{
            margin-top: 10px;
            width: 90%;
            .clear-all{
                all:unset;
                height: 30px;
                color: white;
                padding: 0 10px 0 10px;
                background-color: #0788af;
                cursor: pointer;
                border-radius: 5px;
                visibility: hidden;
            }
        }
        ol{   
            display: flex;
            position: relative;
            justify-content: start;  
            flex-direction: column;
            width: 88%;
            margin-bottom: 20px;
            padding: 0 0 0 20px;
            word-break: break-word;
            li{
                font-size: 21px;
                margin-top: 10px;
                cursor: pointer;
                border-bottom: 1px solid gray;
            }
            .imgScrollUp{
                position: fixed;
                visibility: hidden;
                width: 55px;
                height: 55px;
                z-index: 99;
                cursor: pointer;
                bottom: 15px;
                margin-left: 30px;
            }
        }
        .block-remove-complete{
               display: flex;
               width: 80%;
               justify-content: space-evenly;
            .btn-remove{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                border: 1px solid black;   
                width: 100px;
                cursor: pointer;
                border-radius: 5px;
            }
            .btn-complete{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                border: 1px solid black;
                width: 100px;
                cursor: pointer;
                border-radius: 5px;
            }
        }       
    }
}