*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    .main{
        display: flex;
        max-width: 700px;
        margin: auto;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        align-items: center;
        border-radius: 10px;
        margin-top: 10px;
        .edit-block{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;

            border-radius: 10px;
            .edit{
                width: 25px;
                height: 25px;
            }
        }
        .edit-block-active{
            background-color: #c9cacc;
        }
        .block-todoList{
            display: flex;
            h3{
                color: #192C55;
                font-size: 24px;
            }
        };
        .block-input-and-button{
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            margin-top: 10px;
            .block-input{
                display: flex;
                width: 90%;
                align-items: center;
                input{
                    all: unset;
                    width: 100%;
                    padding-left: 10px;
                    height: 40px;
                };
                .clear-input{
                    opacity: 0;
                    cursor: pointer;
                    margin-right: 10px;
                }
                input::placeholder{
                   color: #9D9FA0;
                };
            }
            .btn-add{
                all:unset;
                height: 40px;
                color: white;
                padding: 0 20px 0 20px;
                background-color: #0d9c2c;
                cursor: pointer;
            };
        }
        h3{
            margin-top: 10px;
        }
        .text{
            display: flex;
            width: 90%;
            h6{
                font-weight: lighter;
                color: #9D9FA0;
            }
        }
        .buttons-block{
            display: flex;
            margin-top: 10px;
            width: 90%;
            .clear-all{
                all:unset;
                height: 28px;  
                padding: 0 10px 0 10px;
                background-color: rgba(44, 32, 214, 0.993);
                color: white;
                cursor: pointer;
                border-radius: 5px;
            }
            .btns{
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 26px;
                border: 1px solid black;               
                cursor: pointer;
                border-radius: 5px;
                margin-left: 5px;
                padding: 0 5px 0 5px;
            }
            
            .btn-complete-active{
                background-color: #0d9c2c;
                color: white;
            }
           
            .btn-remove-active{
                background-color: red;
                color: white;
            }
        }
        ol{   
            display: flex;
            position: relative;
            justify-content: start;  
            flex-direction: column;
            width: 87%;
            padding: 0 0 0 20px;
            word-break: break-word;
            margin-bottom: 50px;
            margin-top:10px;
            li{
                font-size: 21px;
                padding-top: 10px;
                cursor: pointer;
                border-bottom: 1px solid gray;
            }
            .imgScrollUp{
                position: fixed;
                visibility: hidden;
                width: 55px;
                height: 55px;
                z-index: 99;
                cursor: pointer;
                bottom: 15px;
                margin-left: 30px;
            }
        }      
    }
}